---
import Layout from "../layouts/Layout.astro";
import type { Order } from "../types/ReciptData";

const resultData = async () => {
  try {
    const response = await fetch(`${Astro.url.origin}/api/getOrders`);
    const { result }: { result: Order[] } = await response.json();
    return result;
  } catch (e) {
    console.error("Could not fetch orders: ", e);
  }
};

const result = await resultData();

console.log(result);
---

<Layout title="Search">
  <h1>All Orders</h1>
  {
    result ? (
      <table class="order--table">
        <thead>
          <tr>
            <td>Order Id</td>
            <td>Customer Id</td>
            <td>Date Received</td>
            <td>Date Promised</td>
            <td>Remarks</td>
            <td>Total Charges</td>
            <td>Deposit</td>
            <td>Balance Due</td>
          </tr>
        </thead>
        {result.map((order) => (
          <tbody>
            <tr>
              <td>{order.orderId}</td>
              <td>{order.customerId}</td>
              <td>{order.dateReceived}</td>
              <td>{order.datePromised}</td>
              <td>{order.remarks}</td>
              <td>{order.totalCharges}</td>
              <td>{order.deposit}</td>
              <td>{order.balanceDue}</td>
            </tr>
          </tbody>
        ))}
      </table>
    ) : (
      <p>Could not fetch data</p>
    )
  }
</Layout>

<style lang="scss">
  .customer--container {
    overflow-x: auto;
    padding: 8px 0;

    &:nth-child(even) {
      background-color: lightblue;
    }
  }

  .customer--table,
  .order--table,
  .payment--table {
    width: 100%;

    thead {
      outline: 1px solid black;
      border-radius: 8px 8px 0 0;
    }

    tbody {
      outline: 1px solid black;
    }

    caption {
      text-align: left;
      font-weight: bold;
    }

    td {
      outline: none;
      padding: 4px;
      border-right: 1px solid black;

      &:last-child {
        border: none;
      }
    }
  }
</style>
